# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
argon2-cffi=21.3.0=pyhd8ed1ab_0
argon2-cffi-bindings=21.2.0=py38hef030d1_3
boost-cpp=1.78.0=h8b082ac_1
brotli-bin=1.0.9=hb7f2c08_8
c-ares=1.18.1=h0d85af4_0
ca-certificates=2022.12.7=h033912b_0
charset-normalizer=2.1.1=pyhd8ed1ab_0
click-plugins=1.1.1=py_0
dash-bootstrap-components=1.3.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
flit-core=3.8.0=pyhd8ed1ab_0
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=hab24e00_0
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
glib-tools=2.74.1=hbc0c0cd_1
gst-plugins-base=1.22.0=h37e1711_0
importlib-metadata=6.0.0=pyha770c72_0
json-c=0.16=h01d06f9_0
libwebp-base=1.2.4=h775f41a_0
llvm-openmp=15.0.7=h61d9ccf_0
lz4-c=1.9.4=hf0c8a7f_0
matplotlib-base=3.6.3=py38hcb346ec_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mysql-common=8.0.31=hc4b2c72_0
mysql-libs=8.0.31=h8658499_0
nbconvert-core=7.2.9=pyhd8ed1ab_0
nbconvert-pandoc=7.2.9=pyhd8ed1ab_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
notebook-shim=0.2.2=pyhd8ed1ab_0
pkgutil-resolve-name=1.3.10=pyhd8ed1ab_0
poppler-data=0.4.12=hd8ed1ab_0
prompt-toolkit=3.0.36=pyha770c72_0
pthread-stubs=0.4=hc929b4f_1001
pyqt5-sip=12.11.0=py38haf9be31_3
python-dateutil=2.8.2=pyhd8ed1ab_0
python-fastjsonschema=2.16.2=pyhd8ed1ab_0
python-json-logger=2.0.4=pyhd8ed1ab_0
python-pptx=0.6.21=pypi_0
qt-main=5.15.8=h1d3b3f8_6
qtconsole-base=5.4.0=pyha770c72_0
rfc3339-validator=0.1.4=pyhd8ed1ab_0
rfc3986-validator=0.1.1=pyh9f0ad1d_0
scikit-learn=1.2.1=py38h573ff9c_0
typing-extensions=4.4.0=hd8ed1ab_0
websocket-client=1.5.1=pyhd8ed1ab_0
xerces-c=3.2.4=h2007e90_1
xorg-libxau=1.0.9=h35c211d_0
xorg-libxdmcp=1.1.3=h35c211d_0
