body {
    margin: 0;
    font-family: 'Open Sans', ;
    color: rgb(30, 30, 30);
    background-color: rgb(244, 244, 244);
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

a {
    color: rgb(72, 155, 248);
}

.row {
    --bs-gutter-x: 0 !important;
}

/* .panel-control-container {
    height: calc(100vh);
    padding: 0px;
} */

.panel-control-content {
    border: none;
    background-color: rgb(30, 30, 30);
    color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
}

.map-container {
    padding: 0px;
    background-color: rgb(52, 51, 50)
}

.map-content {
    height: calc(100%);
    width: calc(100%);
    border: none;
}

.bar-content {
    height: calc(28vh) !important;
    width: calc(100% - 30px);
    border: none;
    margin-left: 30px;
}

.card-title {
    margin: 12px 0px;
    font-size: 20px;
    font-weight: bold;
}

.card-body {
    padding: 0px;
}

#my-city-selector {
    margin-bottom: 12px;
}

.Select-control {
    background-color: rgb(30, 30, 30) !important;
    color: rgb(214, 214, 214) !important;
}

.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: rgb(214, 214, 214) !important;
}

.Select-value-label {
    background-color: rgb(25, 25, 25);
    color: rgb(214, 214, 214) !important;
}

.graph-selector-text {
    color: rgb(214, 214, 214) !important;
    margin-left: 6px;
    margin-top: 6px;
}

.modal-body-scroll {
    height: calc(70vh);
    overflow-y: auto;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    background-color: #1e1e1e;
    color: white;
}

.my-tabs .nav-tabs {
    border-bottom: none;
}

.my-tabs .nav-link {
    border: none;
    border-radius: 0;
    color: #DDD;
    background-color: #1e1e1e;
    margin-right: 24px;
}

.my-tabs .nav-link.active {
    background-color: #1e1e1e;
    color: #FFF;
    border-bottom: solid 2px #FFF;
    font-weight: bold;
}


.below-graph-tabs .nav-tabs {
    border-bottom: none;
}

.below-graph-tabs .nav-link {
    border: none;
    border-radius: 0;
    color: #DDD;
    background-color: #323232;
    margin-right: 24px;
}

.below-graph-tabs .nav-link.active {
    background-color: #323232;
    color: #FFF;
    border-bottom: solid 2px #FFF;
    font-weight: bold;
}

.open-notes-link {
    margin-top: 30px !important;
}

.nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.1rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: none;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #1e1e1e;
    --bs-nav-tabs-link-active-border-color: #1e1e1e;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.btn-outline-primary {
    --bs-btn-color: rgb(72, 155, 248);
    --bs-btn-border-color: rgb(72, 155, 248);
}

.btn-outline-primary.active {
    background-color: rgb(72, 155, 248) !important;
    color: white !important;
    border-color: rgb(72, 155, 248) !important;
}

.form-check {
    padding-left: 0px;
    padding-right: 12px;
}